/***********qr-code section*************/
div.card {
    width: 330px;
    margin: 10% auto;
    border-radius: 20px;
    padding: 0;
}

div.card-head {
    border-bottom: none;
    width: 95%;
    align-items: center;
    margin: auto;
    /* border: 1px solid; */
}

.qr-code {
    width: 97%;
    border-radius: 3%;
    display: block;
    margin: auto;
    margin-top: 4%;
    
}

div.card-body {
    text-align: center;
    margin: 0 0px;
}

div.card-foot {
    text-align: center;
    margin: 0 10%;
}

/***********Body section************/
p {
    color: hsla(220, 15%, 55%, 0.8);
    font-weight: 500;
    font-size: 15px;
}

h4 {
    font-weight: 700;
}

body {
    background-color: #D5E1EF;
    font-family: 'Outfit', sans-serif;
}

/*******************Mobile design*********************/

@media screen and (max-width: 600px) {
    div.card {
        width: 80%;
    }

    div.card-foot {
        text-align: center;
        margin: 0 19%;
    }
}